/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #F2F0EF;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3c3d3e;
  margin-bottom: 10px;
  font-size: 1.6em;
}

.section-title {
  color: #3c3d3e;
  margin-bottom: 10px;
  font-size: 1.6em;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

/* Skills Section */
.skills {
  padding: 10px;
  background-color: #f2f0ef;
  border-radius: 8px;
  margin-bottom: 20px;
}

.skills h2 {
  color: #3c3d3e;
  font-size: 1.7em;
  margin-bottom: 20px;
  text-align: left;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-category {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.skill-title {
  font-weight: bold;
  color: #333;
  margin-right: 8px;
  font-size: 1.3em;
}

.skill-items {
  font-size: 1.2em;
  color: #555;
}

/* Buttons */
button {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.connect-button {
  background-color: #e9e9e9;
  color: #333;
}

.message-button {
  background-color: #3c3d3e;
  color: #8a8787;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: contain;
}

.profile h1 {
  font-size: 1.5em;
  margin: 10px 0;
}

.profile p {
  color: #514f4f;
  margin: 5px 0;
}

/* Header Banner */
.header {
  height: 150px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 20px;
  background-color: #77ad95;
  border-bottom: 1px solid #fff;
}

/* Projects Section */
.projects {
  padding: 10px;
  margin-bottom: 0;
  text-align: left;
  overflow: hidden;
}

.project-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.project-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px;
  max-width: 80%;
  overflow: hidden;
}

.project-item {
  background-color: #f2f0ef;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-item:hover {
  background-color: #77ad95;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.scroll-button {
  background-color: #77ad95;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 60%;
}

.scroll-button:hover {
  background-color: #4f7f70;
  color: white;
}

.project-info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Contact Links */
.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 0;
}

.contact-link img {
  width: 24px;
  height: 24px;
}

/* Button Styling */
button {
  background-color: #855e5c;
  color: white;
  padding: 10px 20px;
}

button:hover {
  background-color: #ece5e5;
  color: black;
}

/* Section Spacing */
section {
  margin-bottom: 0;
}

/* Education Section */
.education {
  padding: 10px;
  margin-bottom: 20px;
}

.education h2 {
  color: #3c3d3e;
  font-size: 1.6em;
  margin-bottom: 15px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.degree {
  color: #3c3d3e;
  font-weight: bold;
}

.college {
  color: #476b5b;
  text-align: right;
}

/* Contact Section */
.contact h2 {
  color: #3c3d3e;
  margin-bottom: 15px;
  font-size: 1.6em;
  text-align: left;
}

.contact .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.contact-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-card:hover {
  background-color: #77ad95;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 2em;
  color: #181918;
}

.social-name {
  text-decoration: none !important;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
}

.username {
  text-decoration: none !important;
  font-size: 0.9em;
  color: #777;
}
